body {
  background-color: black;
  color: white;
}

.poster {
  width: 50%;
  margin-left: 25%;
  text-align: center;
}

img {
  width: 100%;
  border: 5px solid white;
}

h1 {
  font-family: 'Libre Baskerville', serif;
  text-transform: uppercase;
}
